.logged-container {
  display: flex;
  height: 100%;
  font-family: 'Arial', sans-serif;
  overflow: hidden; 
}

aside {
  width: 250px;
  background-color: #007bff;
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);  
  overflow: hidden; 
}

aside nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

aside nav ul li {
  margin-bottom: 15px;
}

aside nav ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.2s;
  overflow: hidden; 

}

aside nav ul li a:hover {
  background-color: #0056b3;
  transform: translateX(5px);
}

aside nav ul li a.active {
  font-weight: bold;
  background-color: #0056b3;
  text-decoration: underline;
}

aside nav ul li a.active::before {
  content: '➤ ';
  margin-right: 5px;
}

main {
  flex-grow: 1;
  padding: 1rem;
  background-color: #f9f9f9;
  overflow-y: auto; 
  height: 100vh; 
  box-sizing: border-box; 
  overflow: hidden; 

}


@media (max-width: 768px) {
  aside {
    width: 200px;
    padding: 0.5rem;
  }

  aside nav ul li a {
    font-size: 14px;
    padding: 8px 12px;
  }
}

.logout-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.logout-button:hover {
  background-color: #c0392b;
}
