.logged-container {
    display: flex;
    height: 100vh;
  
    aside {
      width: 250px;
      background-color: #007bff;
      color: white;
      padding: 1rem;
  
      nav ul {
        list-style: none;
        padding: 0;
  
        li {
          margin-bottom: 10px;
  
          a {
            color: white;
            text-decoration: none;
  
            &.active {
              font-weight: bold;
              text-decoration: underline;
            }
          }
        }
      }
    }
  
    main {
      flex-grow: 1;
      padding: 1rem;
      background-color: #f4f4f4;
    }
  }
  